@use "../global/variables" as *;

.favourite-heart {
  background: none;
  border: none;
  color: $white;
  font-size: 2rem;

  &:hover {
    color: $blue;
  }

  &.favourited {
    animation-name: favourited;
    animation-duration: 0.5s;
  }

}

@keyframes favourited {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
    color: $blue;
  }
  
  100% {
    transform: scale(1);
    color: $white;
  }
}