@use "../variables" as *;

.navbar {
  min-height: 4.5rem;
  background-color: $grey-dark;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  & > * {
    padding: 0.5rem 1rem;
  }

  // Logo
  &-logo {
    display: inline-block;

    a {
      display: block;
      text-decoration: none;
    }
  
    h1 {
      color: $blue;
      background: -webkit-linear-gradient(left, $blue 20%, $purple 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  // Hamburger Menu
  &-btn {
    background: none;
    border: none;
    position: relative;
    display: block;

    .bar {
      display: block;
      position: relative;
      top: 0;
      margin: 0.5rem 0;
      width: 2rem;
      height: 0.25rem;
      border-radius: 0.25rem;
      background-color: $white;
      transition: top 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.2s ease-in-out
    }

    &:hover .bar {
      background-color: $blue;
    }

    &.navbar-toggled {
      #bar-1 {
        top: 0.75rem;
        transform: rotateZ(-45deg);
      }

      #bar-2 {
        opacity: 0;
      }

      #bar-3 {
        top: -0.75rem;
        transform: rotateZ(45deg);
      }
    }
  }

  // Nav Menu
  &-nav {
    display: block;
    position: absolute;
    background-color: $grey-dark;
    top: -15rem;
    width: 100%;
    padding: 0;
    transition: top 0.3s ease-in-out;
    z-index: -1;

    ul {
      list-style: none;
      color: $white;
      padding: 0;
      text-align: center;

      a {
        display: block;
        color: $white;
        font-size: 1.25rem;
        text-decoration: none;
        padding: 1rem;
        transition: background-color 0.2s ease-in-out;
  
        &:hover {
          background-color: $grey-blue;
        }
      }
    }

    &.navbar-toggled {
      top: 4.5rem;
      transition: top 0.3s ease-in-out;
    }
  }
}