@use "../global/variables" as *;

.movie-carousel {
  display: block;
  position: relative;
  background-color: $dark-blue;
  
  .carousel-slide {
    background-color: $dark-blue;
    width: 100%;
    height: 37.5rem;
    // Keep the slide square-ish until it is full screen height
    height: min(100vh, 100vw);
    
    .movie-backdrop {
      display: block;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: $dark-blue;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        max-width: unset;
        display: block;
        opacity: 25%;
      }
    }
    

    .carousel-text {
      position: absolute;
      inset: 0;
      font-size: 1.5rem;
      padding: 4rem;

      .movie-title {
        // font-size: 3rem;
        font-size: 2rem;
      }

      .movie-overview {
        display: none;
        // overflow: hidden;
        // display: -webkit-box;
        // -webkit-line-clamp: 4;
        // -webkit-box-orient: vertical;
      }

      .movie-info-button {
        text-align: center;
        margin-bottom: 1rem;
        background-color: $blue;
        color: $white;
        text-decoration: none;
        padding: 0.5rem 2rem;
        border-radius: 2rem;
  
        &:hover {
          background-color: $purple;
        }
      }
    }
  }

  .swiper-pagination {

    &-bullet {
      border-radius: 0;
      width: 3rem;
      background-color: rgba($white, 0.5);

      &-active {
        background-color: rgba($blue, 0.5);
      }
    }
  }
}