@use "../global/variables" as *;

.page-movie {
  position: relative;
  padding-top: 2rem;
  height: 100%;

  .movie-backdrop {
    display: none;
    
    @media (min-width: $bp-tablet) {
      display: block;
      position: absolute;
      height: 100%;
      width: 100vw;
      left: 50%;
      margin-top: -2rem; // Matching padding-top
      margin-left: -50vw;
      z-index: -1;
      background-color: $dark-blue;
      
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        max-width: unset;
        display: block;
        opacity: 25%;
      }
    }
  }
  
  .movie-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .movie-poster {
      border-radius: 1rem;
    }

    .movie-text {
      // Layout
      display: grid;
      grid-template-areas: 
        "rating heart"
        "title title"
        "date time"
        "overview overview";
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, min-content);
  
      .movie-rating {
        grid-area: rating;
        align-self: center;
      }
  
      .favourite-heart {
        grid-area: heart;
        justify-self: flex-end;
        align-self: center;
      }
  
      .movie-title {
        grid-area: title;
        margin-top: 1rem;
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
      }
  
      .movie-release-date {
        grid-area: date;
      }
  
      .movie-runtime {
        grid-area: time;
        justify-self: flex-end;
      }
  
      .movie-overview {
        grid-area: overview;
      }
    }

    @media (min-width: $bp-tablet) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 2rem;
      padding: 2rem;
      background-color: rgba($black, 0.75);
      border-radius: 2rem;
    }
  }
}