@use "variables" as *;

body {
  margin: 0;
  background-color: $grey;
  color: $white;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  max-width: $max-width;
  margin: 0 auto;
  margin-top: 4.5rem;

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  @media (min-width: $bp-laptop) {
    margin-top: 5.5rem;
  }
}

footer {
  flex-grow: 1;
}

section {
  padding: 2rem 2rem 4rem;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}