
// Colours
$blue: #60aef0;
$purple: #9560c6;
$grey: #151515;
$grey-dark: #0F0F0F; 
$grey-blue: #3A3D57;
$dark-blue: #0E101F;
$white: #FFFFFF;


// Fonts
$main-font: "Nunito", sans-serif;
$display-font: "Outfit", sans-serif;

// Breakpoints
$bp-phone-lg: 30rem;    // 480px
$bp-tablet: 37.5rem;    // 600px
$bp-laptop: 54rem;      // 864px
$bp-desktop: 75rem;     // 1200px

// Max width for large screens
$max-width: 90rem;      // 1440px