@use "variables" as *;

body {
  margin: 0;
  background-color: $grey;
  color: $white;
}

main {
  max-width: $max-width;
  margin: 0 auto;
}

.site-wrapper {
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
}